In [ ]:
import pandas as pd

In [ ]:
dataset1=pd.read_csv('TitanicDataset.csv')

In [ ]:
dataset1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
dataset1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
dataset1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
dataset1.drop(columns=['Cabin','Embarked','Ticket','Fare','SibSp','Name'],inplace=True,axis=1)

In [ ]:
dataset1.Age=dataset1.Age.fillna(dataset1.Age.mean())

In [ ]:
dataset1.Sex=dataset1.Sex.replace('male',1)
dataset1.Sex=dataset1.Sex.replace('female',0)

In [ ]:
dataset1.Survived=dataset1.Survived.replace('True',1)
dataset1.Survived=dataset1.Survived.replace('False',0)

In [ ]:
dataset1.drop(columns=['Parch'],inplace=True,axis=1)

In [ ]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 34.9 KB

In [ ]:
dataset1.head()

   PassengerId  Survived  Pclass  Sex   Age
0            1         0       3    1  22.0
1            2         1       1    0  38.0
2            3         1       3    0  26.0
3            4         1       1    0  35.0
4            5         0       3    1  35.0

In [ ]:
dataset2=dataset1.drop(columns=['Survived'])

In [ ]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    int64
 3   Age          891 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

**Perceptron Of Sklearn**

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split

In [ ]:
target=dataset1.Survived

In [ ]:
target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [ ]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    int64
 3   Age          891 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

In [ ]:
dataset2=dataset2.astype(int)

In [ ]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    int64
 3   Age          891 non-null    int64
dtypes: int64(4)
memory usage: 28.0 KB

In [ ]:
target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [ ]:
target=target.astype(int)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(dataset2,target,test_size=0.3)

In [ ]:
model=Perceptron()
model.fit(x_train,y_train)
y_predict=model.predict(x_test)
print(accuracy_score(y_test,y_predict))

0.582089552238806

In [ ]:
import numpy as np
class Perceptron:
  def __init__(self, learning_rate, epochs):
    self.weights = None
    self.bias = None
    self.learning_rate = learning_rate
    self.epochs = epochs

  def activation(self,z):
    return np.heaviside(z,0)

  def fit(self, X ,y):  #xtrain ytrain
    n_samples, n_features = X.shape
    self.weights = np.zeros(n_features)
    self.bias = 0

    for epoch in range(self.epochs):
      for _ in range(n_samples):
        z = np.dot(X.iloc[_],self.weights)+self.bias
        y_pred = self.activation(z)

        #Update weight and bias
        self.weights += self.learning_rate*(y.iloc[_]-y_pred)*X.iloc[_]
        self.bias += self.learning_rate*(y.iloc[_]-y_pred)

  def predict(self,X):
    z = np.dot(X,self.weights) + self.bias
    return self.activation(z)

In [ ]:
perceptron = Perceptron(0.001,20)
perceptron.fit(x_train,y_train)
pred = perceptron.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.34701492537313433

In [ ]:
x_train.shape

(623, 4)

In [ ]:
y_train.shape

(623,)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.60      1.00      0.75       162
           1       0.00      0.00      0.00       106

    accuracy                           0.60       268
   macro avg       0.30      0.50      0.38       268
weighted avg       0.37      0.60      0.46       268

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#lr rate     epoch     accuracy
# 0.01        10         0.59
# 0.01        20         0.59
# 0.001       10         0.59
# 0.001       20         0.60

In [ ]:
#Grid Search CV used in another file